{
  "parser": "babel-eslint",
  
  "extends": [
    "plugin:prettier/recommended",
    "airbnb"
  ],
  
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  
  "env": {
    "es6": true,
    "jest": true
  },
  
  "plugins": ["prettier"],
  
  "rules": {
    "no-console": 2,
    "no-unused-vars": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es6",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2
      }
    ]
  }
}
