# Files excluded from the packaged .vsix.
# What ships: out/extension.js, out/manualGlossary.json, language/,
# language-configuration.json, images/, README.md, CHANGELOG.md,
# package.json, LICENSE.

.vscode/**
.github/**
src/**
tools/**
dokumentation/**
manual/**
previousVersions/**

**/*.ts
**/*.map
**/tsconfig.json

eslint.config.js
esbuild.js
.prettierrc
.editorconfig
.gitignore
.gitattributes
package-lock.json
TODO.md
HISTORY.md
LAST_WORK.md
*.vsix
